.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.name-text {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.count-text {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 600;
  margin-left: 3px;
}
